{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Road Complaint Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}  <!-- Include Navbar Here -->
    <script src="{% static 'js/script.js' %}"></script>
    <div class="milan">
        {% block milan %}
        {% endblock %}
    </div>

    <!-- Show Header only if exclude_header_footer is False -->
  

    <main>
        {% block content %}{% endblock %}
    </main>

   

    <!-- Show Footer only if exclude_header_footer is False -->
    {% if not exclude_header_footer %}
        <footer class="footer">
            <p>&copy; 2025 Road Complaint Portal. All Rights Reserved.</p>
        </footer>
    {% endif %}

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
