{% extends "base.html" %}
{% block content %}
  <h2>Admin Password Reset</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.username.label_tag }} {{ form.username }}<br>
    {{ form.answer1.label_tag }} {{ form.answer1 }}<br>
    {{ form.answer2.label_tag }} {{ form.answer2 }}<br>
    {{ form.new_password.label_tag }} {{ form.new_password }}<br>
    {{ form.confirm_password.label_tag }} {{ form.confirm_password }}<br>
    {% if form.non_field_errors %}
      <div class="text-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
  <p class="mt-3"><a href="/login/">Back to Login</a></p>
{% endblock %}
